@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 70px;
  width: 60%;
  background: #D09600;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 15px;
  width: 65%;
  background: #FFC614;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato {
  height: 25px;
  width: 50%;
  background-color: #FF2D00  ;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball {
  height: 70px;
  width: 90px;
  background: #8F5200;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 25px;
  width: 65%;
  background: #F66E24;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 40px;
  width: 70%;
  background: #82F624;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.onion {
  width: 75%;
  background-color: #C024F6;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 35px;
  width: 60%;
  background: #D09600;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #9E5B2E;
  border-radius: 20px 20px 200px 200px;
}
